[submodule "pack/packages/start/dracula_vim_colorscheme"]
	path = pack/packages/start/dracula_vim_colorscheme
	url = https://github.com/dracula/vim.git
[submodule "pack/packages/start/nvim-quickcomment"]
	path = pack/packages/start/nvim-quickcomment
	url = https://github.com/Stephen-Seo/nvim-quickcomment.git
[submodule "pack/packages/start/nvim-treesitter"]
	path = pack/packages/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "pack/packages/start/vim-gitgutter"]
	path = pack/packages/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/packages/start/vim-localvimrc"]
	path = pack/packages/start/vim-localvimrc
	url = https://github.com/embear/vim-localvimrc.git
[submodule "lsppack/pack/lsppackages/start/cmp-buffer"]
	path = lsppack/pack/lsppackages/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer.git
[submodule "lsppack/pack/lsppackages/start/cmp-cmdline"]
	path = lsppack/pack/lsppackages/start/cmp-cmdline
	url = https://github.com/hrsh7th/cmp-cmdline.git
[submodule "lsppack/pack/lsppackages/start/cmp-nvim-lsp"]
	path = lsppack/pack/lsppackages/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "lsppack/pack/lsppackages/start/cmp-path"]
	path = lsppack/pack/lsppackages/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path.git
[submodule "lsppack/pack/lsppackages/start/cmp-vsnip"]
	path = lsppack/pack/lsppackages/start/cmp-vsnip
	url = https://github.com/hrsh7th/cmp-vsnip.git
[submodule "lsppack/pack/lsppackages/start/nvim-cmp"]
	path = lsppack/pack/lsppackages/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "lsppack/pack/lsppackages/start/nvim-lspconfig"]
	path = lsppack/pack/lsppackages/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "lsppack/pack/lsppackages/start/vim-vsnip"]
	path = lsppack/pack/lsppackages/start/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip.git
[submodule "pack/packages/start/everforest-nvim"]
	path = pack/packages/start/everforest-nvim
	url = https://github.com/neanias/everforest-nvim
